*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.AndroidStudio3.2/
.AndroidStudio3.3/
.VirtualBox/
.android/
.bash_history
.emulator_console_auth_token
.gitconfig
.gradle/
.nbi/
AndroidStudioProjects/
AppData/
Contacts/
Desktop/
Doctor Web/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
Pictures/
Saved Games/
Searches/
Videos/
idea.updater.files590243476962210854marker
idea.updater.files5932303730941253356marker
idea_updater.log
idea_updater_error.log
my_workspace/
ntuser.dat
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.dat{9845ddb0-87b4-11e7-aeba-00219792c81e}.TM.blf
ntuser.dat{9845ddb0-87b4-11e7-aeba-00219792c81e}.TMContainer00000000000000000001.regtrans-ms
ntuser.dat{9845ddb0-87b4-11e7-aeba-00219792c81e}.TMContainer00000000000000000002.regtrans-ms
ntuser.ini
simplegit-progit/
